html {
  cursor: url('./116-1164058_nerf-gun-nerf-gun-pixel-art.png'), pointer;
}
/* .row {
  height: 50px;
  width: 50px;
  background-color: blue;
  display: inline-block;
  border: 2px solid black;
} */
div {
  border: 5px blue solid;
}
